@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");

//Variable declarations
$heading-font: "Space Mono", monospace;
$body-font: "Nunito", sans-serif;
$text-xl: 60px;
$text-l: 30px;
$text-m: 24px;
$text-s: 18px;
$text-xs: 16px;

//General styles
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
}

.heading-text {
  /* color: #fff; */
  font-family: $heading-font;
}

.body-text {
  /* color: #fff; */
  font-family: $body-font;
}

.section {
  text-align: center;
}

#root {
  padding: 0 60px 100px;
}

//App styles
.App__heading {
  text-align: center;
  font-family: $heading-font;
  color: #fff;
  font-size: $text-l;
}

//Hero styles
.hero-container {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.hero-container__content-wrapper {
  @extend .hero-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-wrapper__title {
  @extend .heading-text;
  font-size: $text-xl;
}

.content-wrapper__text {
  @extend .heading-text;
  font-size: $text-m;
  max-width: 750px;
  margin: 32px auto 0;
}

.hero-container__chevron {
  color: #fff;
  font-size: 50px;
  position: absolute;
  left: 48%;
  bottom: 4vh;
  z-index: 1;
  animation: pulse 2s 3s ease-out infinite;
}

.hero-container__chevron svg {
  animation: fade-slide-up 1s 1s ease-out forwards;
  opacity: 0;
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

//Projects Sections styles

.project-section {
  text-align: center;
}

.project-section__heading {
  @extend .body-text;
  margin-top: 48px;
  font-size: $text-m;
}

.project-section__description {
  @extend .body-text;
  margin-top: 24px;
  font-size: $text-s;
}

.project-section__project-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}

//Project tile styles
.project-tile {
  border-radius: 20px;
  width: 30%;
  height: 200px;
  /* filter: blur(1px); */
  background-color: rgba($color: #a6c2f6, $alpha: 0.15);
  border: 3px solid transparent;
  z-index: 1;
  text-align: center;
}
.project-tile:hover {
  border: 3px solid #a6c2f6;
  /* filter: blur(1px); */
}

.project-tile__name {
  @extend .heading-text;
  padding: 20px 20px 0;
}

.project-tile__description {
  @extend .body-text;
  padding: 0 20px 20px;
}

.project-tile:hover::after {
  @extend .heading-text;
  content: "visit repository";
  color: #a6c2f6;
}
