@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

//Variable declarations
$heading-font: "Space Mono", monospace;
$body-font: "Nunito", sans-serif;
$text-xl: 60px;
$text-l: 30px;
$text-m: 24px;
$text-s: 18px;
$text-xs: 16px;
$light-blue: #99ffff;
$emphasis-color: #07ffff;
$overlay: rgba(
  $color: #a6c2f6,
  $alpha: 0.15,
);

//General styles
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: $body-font;
  text-align: center;
}

.heading-text {
  font-family: $heading-font;
}

.body-text {
  font-family: $body-font;
}

.section {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

/* .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
} */

a {
  text-decoration: none;
}

#root {
  padding: 0 60px 100px;
}

//App styles
.App__heading {
  text-align: center;
  font-family: $heading-font;
  color: #fff;
  font-size: $text-l;
  margin-top: 65px;
}

//Hero styles
.hero-container {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.hero-container__content-wrapper {
  @extend .hero-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-wrapper__title {
  @extend .heading-text;
  font-size: $text-xl;
}

.content-wrapper__text {
  @extend .heading-text;
  font-size: $text-m;
  max-width: 750px;
  margin: 32px auto 0;
}

.hero-container__chevron {
  color: #fff;
  font-size: 50px;
  position: absolute;
  left: 48%;
  bottom: 4vh;
  z-index: 1;
  animation: pulse 2s 3s ease-out infinite;
}

.hero-container__chevron svg {
  animation: fade-slide-up 1s 1s ease-out forwards;
  opacity: 0;
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

//Projects Sections styles

.project-section {
  @extend .section;
}

.project-section__heading {
  @extend .body-text;
  margin-top: 48px;
  font-size: $text-m;
}

.project-section__description {
  @extend .body-text;
  margin-top: 24px;
  font-size: $text-s;
}

.project-section__project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

//slick slider styles

.slick-slide {
  min-height: 0;
  min-width: 0;
  margin-top: 32px;
}

.slick-dots li button::before,
.slick-dots li.slick-active button::before {
  color: #fff;
  font-size: 12px;
}

.slick-prev::before,
.slick-next::before {
  font-size: $text-l;
}

//Project tile styles
.project-tile {
  //flex styles
  /*   
  border-radius: 20px;
  width: 30%;
  align-self: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba($color: #a6c2f6, $alpha: 0.15);
  border: 3px solid transparent;
  z-index: 1;
  text-align: center;
  transition: border 0.3s ease-in;
  height: 200px; */

  // slider styles
  text-align: center;
  transition: border 0.3s ease-in;
  background-color: $overlay;
  border: 3px solid transparent;
  border-radius: 20px;
  display: inline-block;
  min-height: 220px;
  width: 90%;
  padding: 20px;
}

.project-tile--slider {
  // slider styles
  text-align: center;
  transition: border 0.3s ease-in;
  background-color: rgba(166, 194, 246, 0.15);
  border: 3px solid transparent;
  border-radius: 20px;
  margin-left: 24px;
  display: inline-block;
  height: 200px;
}

/* .project-tile:hover {
  border: 3px double $light-blue;
  position: relative;
} */

.project-tile__name {
  @extend .heading-text;
  color: $emphasis-color;
  font-size: $text-s;
  margin-bottom: 12px;
}

/* .project-tile__description {
  @extend .body-text;
} */

/* .project-tile:hover::after {
  @extend .heading-text;
  content: "visit repository";
  color: $light-blue;
  font-weight: bold;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

.project-tile:hover::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba($color: #000, $alpha: 0.7);
  width: 100%;
  height: 100%;
  border-radius: 20px;
} */

.tools-section {
  font-size: 24px;
  margin-top: 48px;
}

.tools-section__logo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.logo-grid__logo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo-grid__logo img {
  width: 100%;
}

.footer {
  background-color: $overlay;
  margin: 65px -60px 0;
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  flex-direction: column;
  padding: 48px 0;
  font-size: $text-m;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.footer svg {
  font-size: $text-l;
}

@media (min-width: 1000px) {
  .project-tile:hover {
    border: 3px double $light-blue;
    position: relative;
  }
  .project-tile:hover::after {
    font-family: $heading-font;
    content: "visit repository";
    color: $light-blue;
    font-weight: bold;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }

  .project-tile:hover::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba($color: #000, $alpha: 0.7);
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

@media (max-width: 640px) {
  #root {
    padding: 0 20px 100px;
  }
  .content-wrapper__title,
  .content-wrapper__text,
  .App__heading,
  h1,
  h2,
  h3,
  h4,
  p {
    text-align: left;
  }
  .slick-arrow {
    display: none !important;
  }

  /* .App__heading {
    text-align: center;
  } */
  .tools-section__logo-grid {
    /*  flex-wrap: nowrap; */
    justify-content: flex-start;
    /*   overflow-y: scroll; */
  }

  .logo-grid__logo {
    width: 30%;
    height: auto;
  }
  /* 
  .slick-slider {
    position: relative;
    left: 5%;
  } */

  /*  .logo-grid__logo {
    width: 30%;
  }

  .logo-grid__logo img {
    width: 100%;
  } */
}
